<div class="jumbotron center">
<h1>Welcome to <span style="color: #c0392b">Pinster</span></h1>

<p>
	<a href="/users/sign_in" class="btn btn-primary btn-lg"><i class="fa fa-user">&nbsp;Login</i></a>
	<%= link_to "Sign up", new_user_registration_path, class:"btn btn-default btn-lg" %>
</p>

</div>
