.container-fluid
  .jumbotron.center
    %h2{style: "position:relative; top: -35px; font-family:'Droid Serif', serif;"} About me
    / Button trigger modal
    = image_tag("manmeet_pic.jpg", :alt => "Manmeet", class:"center", style:"max-width:50%; max-height:50%; position:relative; top:-5px;")
    %h3.center{style: "font-family:'Lobster', cursive; font-size: 4.0vh;"} Manmeet Singh Saluja
    %a.zocial.icon.facebook{href: "https://www.facebook.com/connectwithmanmeet", target: "_blank"}
    %a.zocial.icon.twitter{href: "https://twitter.com/iamsaluja", target: "_blank"}
    %a.zocial.icon.linkedin{href: "http://www.linkedin.com/pub/manmeet-singh/36/243/347", target: "_blank"}
/ ./jumbotron
/ /.container-fluid