
<div class="container-fluid">
<div class="jumbotron center">
<h2 style="position:relative; top: -35px; font-family:'Droid Serif', serif;">About me</h2>
<!-- Button trigger modal -->

<%= image_tag("manmeet_pic.jpg", :alt => "Manmeet", class:"center", style:"max-width:60%; max-height:60%; position:relative; top:-5px;") %>
<h3 class="center" style="font-family:'Lobster', cursive; font-size: 4.0vh;">Manmeet Singh Saluja</h3>
<i style="font-family:'Droid Serif', serif; font-size: 3.0vh;">Computing Student, Singer, Guitarist, passionate about early-stage tech startups</i><br><br>
<a href="https://www.facebook.com/connectwithmanmeet" class="zocial icon facebook" target="_blank"></a>
<a href="https://twitter.com/iamsaluja" class="zocial icon twitter" target="_blank"></a>
<a href="http://www.linkedin.com/pub/manmeet-singh/36/243/347" class="zocial icon linkedin" target="_blank"></a>
</div>
</div> <!-- ./jumbotron -->
</div> <!-- /.container-fluid -->
