<div class="jumbotron center">
<h1>Welcome to my app</h1>
<p>
	<a href="#" class="btn btn-primary btn-lg"><i class="fa fa-user">&nbsp;Login</i></a>
	<%= link_to "&nbsp;Sign up", "#", class:"btn btn-default btn-lg" %>
</p>
</div>
